<!--Section - 1 // background image & hostel and tiffin home page-->
<div class="background_image make_center">
  <form>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <button class="btn btn-secondary" [routerLink]='["/hostel"]'>Hostel</button>
  </form>
  <div class="">
    <h1 style="font-family: cursive; color: black;">
      <b>
        Stay in the hostel & Eat.
      </b>
    </h1>
  </div>
  <br />
  <form>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <button class="btn btn-secondary" [routerLink]='["/tiffin"]'>Tiffin</button>
  </form>
</div>


<!--Section - 2 // location-->
<div class="row" style="margin-top: 10px">
  <div style="margin-left: 10%; color: red; font-family: cursive;"><i><h3>We are in...</h3></i></div>
  <br />
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="col-sm-6">
      <div class="jumbotron lucknow_image"></div>
    </div>
    <div class="col-sm-6">
      <div class="jumbotron kanpur_image">
        <div style="margin-top: 80%; margin-left: 20%; color: white">
          <b>
            <h4>
              Coming soooonn....
            </h4>
          </b>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>


<!--Section - 3 // about us-->
<div class="row" style="margin-top: 10px">
  <div class="col-sm-4">
    <div class="jumbotron">
      <img src="../../assets/images/whatwedo.jpg" />
    </div>
  </div>
  <div class="col-sm-4">
    <div class="jumbotron">
      <img src="../../assets/images/ouraim.jpg" />
    </div>
  </div>
  <div class="col-sm-4">
    <div class="jumbotron">
      <img src="../../assets/images/disclaimer.jpg" />
    </div>
  </div>
</div>
