<nav class="navbar navbar-default navbar-fixed-top" style="height: 10%; background-color: black;">
  <div style=" color: white">
    <div class="col-sm-2">
      <h2 class="make_center" style="font-family: cursive">
        <i>
          <a style="color: white" [routerLink]='["/"]'>Stay In Eat In</a>
        </i>
      </h2>
    </div>
    <div class="col-sm-7"></div>
    <div class="col-sm-3">
      <div class="right">
        <button [routerLink]='["/"]' class="btn btn-primary">LOGIN</button>
        &nbsp;&nbsp;
        <button [routerLink]='["/"]' class="btn btn-success">Register</button>
        &nbsp;
      </div>
    </div>
  </div>
</nav>
